@model IEnumerable<WorkLogger.Models.WorkingLog>

@{
    ViewData["Title"] = "Anasayfa";
    List<string> workingHoursList = new List<string>();
    int totalTimeInMinutes = 0;
    string ProcessWorkingHours(string entrance, string exit)
    {
        var entranceArray = entrance.Split(':').Select(Int32.Parse).ToList();
        var exitArray = exit.Split(':').Select(Int32.Parse).ToList();
        var resultHour = 0;
        var resultMinute = 0;
        //exit time - entrance time

        if (exitArray[0] < entranceArray[0])
        {
            return "Err: Entrance is bigger than the exit";
        }
        if (entranceArray[1] > exitArray[1])
        {
            exitArray[0] -= 1;
            exitArray[1] += 60;
            resultMinute = exitArray[1] - entranceArray[1];
            resultHour = exitArray[0] - entranceArray[0];
        }
        else
        {
            resultMinute = exitArray[1] - entranceArray[1];
            resultHour = exitArray[0] - entranceArray[0];
        }

        return resultHour + "s " + resultMinute + "d ";
    }
    int ProcessTotalWorkingHours(List<string> workinghourslist)
    {
        var hour = 0;
        var totalHour = 0;
        var totalMinute = 0;
        var minute = 0;
        foreach (var item in workingHoursList)
        {
            var result = item.Split(' ');
            hour = Convert.ToInt32(result[0].Substring(0, result[0].Length - 1));
            minute = Convert.ToInt32(result[1].Substring(0, result[1].Length - 1));

            totalHour += hour;
            totalMinute += minute;
            if (totalMinute >= 60)
            {
                totalHour += 1;
                totalMinute = totalMinute % 60;
            }
        }
        return (totalHour * 60) + totalMinute;
    }

    string ParseTotalWorkingHours(int totalmins)
    {
        var hours = totalmins / 60;
        var minutes = totalmins % 60;


        return hours + "s " + minutes + "d";
    }

}

<h1>İş Logları</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Yeni Oluştur</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntranceTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitTime)
            </th>
            <th>Çalışma Saati</th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntranceTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExitTime)
                </td>
                <td class="text-light">
                    <span class="bg-info rounded-pill p-2">
                        @{
                            var result = ProcessWorkingHours(item.EntranceTime, item.ExitTime);
                            workingHoursList.Add(result);

                            @(result.Split(' ')[1].Substring(0, 1) == "0" ? result.Split(' ')[0] : result)
                        }
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <div class="row">
                        <a class="btn" asp-action="Details" asp-route-id="@item.Id"><i class="text-info fas fa-info"></i></a>
                        <a class="btn" asp-action="Edit" asp-route-id="@item.Id"><i class="text-success fas fa-pen"></i></a>
                        <form method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button data-toggle="modal" data-target="#deleteConfirmModal" type="button" data-item-id="@item.Id" data-item-description="@item.Description" class="btn float-left"><i class="text-danger fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="bg-dark text-light">
        <tr>
            <td colspan="6" align="right">
                Toplam Çalışma Saati :
                <span class="text-light bg-info p-2 rounded">
                    @{totalTimeInMinutes = ProcessTotalWorkingHours(workingHoursList);}

                    @ParseTotalWorkingHours(totalTimeInMinutes)
                    <br />
                </span>
            </td>
        </tr>
    </tfoot>
</table>

<div class="row">
    <div class="col-md-12">
        <h3>İlerleme</h3>
        <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped bg-info font-weight-bold progress-bar-animated" 
                 role="progressbar"
                 style="width:@((totalTimeInMinutes / 60) * 2)%;"
                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                Toplam @ParseTotalWorkingHours(totalTimeInMinutes) (@((totalTimeInMinutes / 60) * 2)%)
            </div>
        </div>

        <div class="float-left">0</div>
        <div class="float-right text-right">50</div>
    </div>
</div>
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Uyarı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="font-italic p-2 rounded bg-info text-light" id="spnItemDescription"></span> Öğesini silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <form method="post">
                    <input type="hidden" name="id" value="" id="hddnItemId" />
                    <button data-item-id="1" type="submit" class="btn btn-success">Onayla</button>
                </form>
            </div>
        </div>
    </div>
</div>
